section{
    /* height: 85vw; */
    width: 97vw;
    height: 42vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
}
button
{
    border-radius: 4px;
    
}
button:hover
{
    transform: translateX(-10px) translateY(-10px);
    transition: 2s;
    border-color: blue;
    box-shadow:gray 4px 5px 4px;
}
button:active
{
    transform: translateX(+2px) translateY(2px);
    transition: 300ms;
    border-color: purple;
    box-shadow: gray -1px -1px 2px;
}