*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    align-items: center;
}
#canvas
{
    margin: 20px 20px auto;
    border: green 10px solid;
}
body > div
{
    border: 2px solid black;
    margin-left: 30px;
}
img
{
    width: 200px;
    /* height: 100px; */
}